@use  '../abstracts/variables';
 
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .projects {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-family: sans-serif;
  }

.projects{
    margin: 20px;
    width: 50%;
    padding-bottom: 50px;
    .project{
       padding: 10px;
    }
    img{
        width: 350px;
    }
    .project__links{
        margin: 20px;
    }
    a{
        margin: 20px;
        text-decoration: none;
        background-color: variables.$text-color;
        padding: 5px;
        color: #000;
    }
}