@use  '../abstracts/variables';
 

.projects{
    margin: 20px;
    width: 50%;
    .project{
       padding: 10px;
    }
    img{
        width: 350px;
    }
    .project__links{
        margin: 20px;
    }
    a{
        margin: 20px;
        text-decoration: none;
        background-color: variables.$text-color;
        padding: 5px;
        color: #000;
    }
}