@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .skills {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-family: sans-serif;
  }


.skills{
    width: 50%;
    padding-bottom: 50px;
    &__container{
        display: flex;
        flex-wrap: wrap;
    }
    .skill{
        padding: 10px;
       
        img{
            width: 50px;
            height: 50px;
            background-color: green;

        }
    }
}