// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use  '../abstracts/variables';


.footer{
    border-top: 2px dotted variables.$primary-color;
    position:fixed;
    background-color: black;
    bottom:0;
    width: 100%;
    height: 2.5rem;
    .btn{
        border: none;
        background: none;
        color: variables.$text-color;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0;
        margin: 0;
        &:hover{
            color: variables.$title-color;
        }
    }
   
   
}